.invalid {
    border: 1px solid red;
}
.b-color {
    background-color: #403F45;
        color: #FDEC00;
        &:hover {
            background-color:#E6CE1D;
            color: #403F45;
        }
}
#images {
    position: relative;
    width: 95%;
    i {
        cursor: pointer;
        font-size: 1.6em;
    }
    #add {
        position: absolute;
        bottom: 6px;
        right: -20px;
    }
    #remove {
        position: absolute;
        bottom: 6px;
        right: -20px;
    }

}