#nav {
    background-color: #403F45;
    font-size: 1.05em;

    button {
        background-color: #FDEC00;
    }

    a {
        color: #FDEC00;

        &:hover {
            color: #E6CE1D;
        }
    }

    .active {
        color: #f3f2f5;
    }
}