<h1 class="text-center">Cars</h1>
<div class="text-center" *ngIf="!loaded" style="position: absolute; top: 50%; left: 50%;">
  <div class="spinner-border" role="status" style="width: 3rem; height: 3rem; border-width: .30em;">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div>

  <form class="form-inline justify-content-center" (ngSubmit)="f.value.keyword !== '' && search(f)" #f="ngForm" id="form">
    <div class="form-row">
      <div class="form-group mr-2">  
        <input type="text" class="form-control" name="keyword" placeholder="Enter a keyword" ngModel>
      </div>
      <button type="submit" class="btn btn-success">Search</button>
    </div>
  </form>
 <hr>

<div class="d-flex flex-wrap" id="wrapper">
  <div class="card" *ngFor="let property of cars | filter:value | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
    <a [routerLink]="['/car-details', property.make, property.model, property.uniqueId]" style="cursor: pointer;">
      <img *ngIf="property.images[0].images == ''" src="https://www.affordableautoselgin.com/images/no-photo-car.jpg"
        class="w-100 img-car" alt="car-image">
      <img *ngIf="!property.images[0].images == ''" [src]="property.images[0].images" class="w-100 img-car"
        alt="car-image"></a>
    <div class="head px-2 pt-2 pb-1">
      <i class="far fa-clock pr-2"></i>
      <small class="text-muted">{{ property.time }}</small>
      <i [ngClass]="property.isClicked ? 'fas fa-heart' : 'far fa-heart'" title="Add to wishlist" id="wishlist"
        (click)="addRemoveWishlist($event, property)"></i>
    </div>
    <div class="card-body pt-1">
      <h5 class="card-title">{{property.make}} {{property.model}}</h5>
      <p class="card-text">Engine: {{ property.engine }} <br><span>Year: {{property.year}}</span><br><span>Price:
          {{property.price}}$</span></p>
    </div>

    <div *ngIf="!authService.getAdminStatus()" class="card-footer py-1">
      <button class="btn btn-md b-color"
        [routerLink]="['/car-details', property.make, property.model, property.uniqueId]">Show car details</button>
    </div>
    <div *ngIf="authService.getAdminStatus()" class="card-footer py-2">
      <button class="btn btn-sm b-color-1"
        [routerLink]="['/car-details', property.make, property.model, property.uniqueId]">Show car details</button>
      <button class="btn btn-danger btn-sm" (click)="removeCar(property, i)">Delete car</button>
    </div>
  </div>
</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>