<h1 class="text-center">Car details</h1>
  <div class="row justify-content-center m-0">
    <div id="carousel" class="align-top p-0 col-lg-5 col-md-10 col-11">
    <carousel [isAnimated]="true">
      <slide class="carousel-item" *ngFor="let image of obj.images; let i = index">
        <img [src]="image.images" alt="first slide" style="display: block; width: 100%;">
      </slide>

    </carousel>
    </div>
      <div id="table" class=" d-inline-block p-0 ml-lg-3 my-lg-0 mt-3 col-lg-5 col-md-10 col-11">
        <table class="table table-bordered table-size">
          <tr>
            <th>Seller</th>
            <td>{{obj.seller}}</td>
          </tr>
          <tr>
            <th>Make</th>
            <td>{{obj.make}}</td>
          </tr>
          <tr>
            <th>Model</th>
            <td>{{obj.model}}</td>
          </tr>
          <tr>
            <th>Engine</th>
            <td>{{obj.engine}}</td>
          </tr>
          <tr>
            <th>Year</th>
            <td>{{obj.year}}</td>
          </tr>
          <tr>
            <th>Transmission</th>
            <td>{{obj.transmission}}</td>
          </tr>
          <tr>
            <th>Mileage</th>
            <td>{{obj.mileage}} km</td>
          </tr>
          <tr>
            <th>Color</th>
            <td>{{obj.color}}</td>
          </tr>
          <tr>
            <th>Fuel</th>
            <td>{{obj.fuel}}</td>
          </tr>
          <tr>
            <th>Price</th>
            <td>{{obj.price}} &#36;</td>
          </tr>
        </table>
    </div>
  </div>

  <div class="row justify-content-center mt-3 mx-0 mb-0">
    <div id="data-container" class="p-0 col-lg-5 col-md-5 col-11">
      <div id="description" class="align-top">
        <h1>Description</h1>
        <p *ngIf="obj.description !== ''">{{obj.description}}</p>
        <p *ngIf="obj.description == ''">No description for this car.</p>
      </div>

      <div id="contact">
        <h1>Contact information</h1>
        <p>Email: {{obj.email}}</p>
        <p>Phone number: {{obj.phoneNumber}}</p>
      </div>
    </div>

    <div class="align-top p-0 col-lg-5 col-md-5 col-11 mt-sm-3" id="btn">
      <div class="d-flex justify-content-center">
        <button class="btn b-color" (click)="back()">Back to cars page <i class="fas fa-hand-point-left"></i></button>
      </div>
    </div>
  </div>